.header {
    height: 65px;
    background-color: #009270;
    display: flex;
    align-items: center;
    width: 100%;
    &__container {
        display: flex;
        width: 100%;
        padding-left: 10%;
        padding-right: 20%;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 25px;
        color: #f1f1f1;
        display: inline;
    }
    &__links {
        display: flex;
        justify-content: end;
        width: 15%;
        text-transform: uppercase;
        color: #f1f1f1;
        font-size: 17px;
        flex-grow: 1;

        a {
            margin-left: 5%;
            color: #f1f1f1;
        }

        a:visited {
            color: #f1f1f1;
        }
    }
}



.content {
    height: 80%;

    &__column {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        &__description {
            width: 100%;
            background-color: #e7e7e7;
            padding: 10px;
            line-height: 1.3em;
            font-size: 20px;
            margin-bottom: 50px;
        }


        &__sliders {
            background-color: #d0d0d0;
            width: 100%;
            flex-grow: 1;
        }
    }

    &__map {
        width: 35%;
        height: 100%;
        background-color: #797979;
    }

    &__container {
        display: flex;
        height: 100%;
        margin-top: 35px;
        justify-content: space-evenly;
    }
}