.header {
  height: 65px;
  background-color: #009270;
  display: flex;
  align-items: center;
  width: 100%; }
  .header__container {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 20%;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    font-size: 25px;
    color: #f1f1f1;
    display: inline; }
  .header__links {
    display: flex;
    justify-content: end;
    width: 15%;
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 17px;
    flex-grow: 1; }
    .header__links a {
      margin-left: 5%;
      color: #f1f1f1; }
    .header__links a:visited {
      color: #f1f1f1; }

.content {
  height: 80%; }
  .content__column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .content__column__description {
      width: 100%;
      background-color: #e7e7e7;
      padding: 10px;
      line-height: 1.3em;
      font-size: 20px;
      margin-bottom: 50px; }
    .content__column__sliders {
      flex-direction: column;
      display: flex;
      background-color: #fff;
      width: 100%;
      flex-grow: 0; }
      .content__column__sliders .btn {
        margin-top: 1.5em;
        width: 20%;
        height: 3em;
        align-self: flex-end;
        margin-right: 3%;
        background-color: #009270;
        color: #fff;
        font-size: 20px;
        border-radius: 5px; }
      .content__column__sliders .wrapper {
        margin-top: 1em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .content__column__sliders .wrapper h1 {
          font-size: 30px; }
        .content__column__sliders .wrapper .slider {
          width: 50%;
          color: #fff; }
  .content__map {
    width: 45%;
    height: 100%;
    background-color: #797979; }
  .content__container {
    display: flex;
    height: 100%;
    margin-top: 35px;
    justify-content: space-evenly; }

input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 4px #000000;
  background: #0AA99E;
  border-radius: 17px;
  border: 0px solid #000000; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 5px #000000;
  border: 0px solid #000000;
  height: 31px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0AA99E; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 4px #000000;
  background: #0AA99E;
  border-radius: 17px;
  border: 0px solid #000000; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 5px #000000;
  border: 0px solid #000000;
  height: 31px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #0AA99E;
  border: 0px solid #000000;
  border-radius: 34px;
  box-shadow: 0px 0px 4px #000000; }

input[type=range]::-ms-fill-upper {
  background: #0AA99E;
  border: 0px solid #000000;
  border-radius: 34px;
  box-shadow: 0px 0px 4px #000000; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 5px #000000;
  border: 0px solid #000000;
  height: 31px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #0AA99E; }

input[type=range]:focus::-ms-fill-upper {
  background: #0AA99E; }
