.header {
  height: 65px;
  background-color: #009270;
  display: flex;
  align-items: center; }
  .header__container {
    display: flex;
    width: 100%;
    padding-left: 100px;
    padding-right: 250px;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    font-size: 25px;
    color: #f1f1f1;
    display: inline; }
  .header__links {
    display: flex;
    justify-content: space-between;
    width: 10%;
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 17px; }
    .header__links a:visited {
      color: #f1f1f1; }

.container {
  display: flex; }

.content {
  height: 100%; }
  .content__column {
    background-color: #8e8e8e; }
    .content__column__description {
      display: flex; }
    .content__column__sliders {
      display: flex; }
  .content__map {
    background-color: #ffffff11; }
