{% extends 'main/main.html' %}

{% block meta %}
{% load static %}
<!-- <meta name="csrf-token" content="{{ csrf_token }}"> -->
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://api-maps.yandex.ru/2.1/?apikey=33eb6705-547e-48da-bf06-53cf7ac25aa7&lang=ru_RU" type="text/javascript"></script>
<script>
    var tilePath = '{% static "main/img/tiles/" %}'
    var geoJsonPath = '{% static "main/js/VINEYARDS.geojson" %}'
    var POSTurl = '{% url "home" %}'
    var CSRF_TOKEN = '{{ csrf_token }}'
</script>
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
<script>



</script>
{% endblock %}


{% block title %}
Home
{% endblock %}


{% block content %}
<div class="content">
    <div class="content__container">
        <div class="content__column">
            <div class="content__column__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos placeat in tempora expedita vitae pariatur impedit veniam quidem. Corrupti consectetur iusto ducimus ipsum et dignissimos qui, adipisci expedita perferendis odio! Non, hic sint repellendus vero cupiditate repudiandae dolorum rem distinctio molestias consequatur obcaecati praesentium, saepe ipsam ratione iure! Exercitationem ex enim unde aperiam quas, odit eligendi laboriosam neque laborum qui vero velit tenetur obcaecati explicabo, esse eum labore numquam quo, repellat cupiditate illo quibusdam maiores doloremque. Magni ex quas nostrum libero ut inventore necessitatibus nisi veritatis quasi nesciunt laboriosam ipsam neque doloremque accusantium, perspiciatis esse assumenda! Vero sunt excepturi sed.</div>
            <div class="content__column__sliders">
                <div class="wrapper">
                    <h1>Рельеф</h1>
                    <input class="slider" type="range" valmin="0" valmax="5" step="0.25" name="temp">
                </div>
                <div class="wrapper">
                    <h1>Климат</h1>
                    <input class="slider" type="range" valmin="0" valmax="5" step="0.25" name="temp">
                </div>
                <div class="wrapper">
                    <h1>Тип местности</h1>
                    <input class="slider" type="range" valmin="0" valmax="5" step="0.25" name="temp">
                </div>
                <button class="btn" onclick="upl()">Расчитать</button>
            </div>
        </div>
        <div class="content__map" id="map"></div>
    </div>
</div>
{% endblock %}