<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/zeroing.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">AgroCode</div>
            <div class="header__links">
                <a href="{% url 'about' %}" class="header__link">О нас</a>
                <a href="{% url 'home' %}" class="header__link">Главная</a>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>